
html {
    height: 100%;
}

body {
	background-color: #000;
    height: 100%;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.container {
	background: url('../images/dungeon-corridor.jpg');
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	height: 100%;
}


#action {
	font-family: 'Almendra', serif;
	font-size: 25px;
	background-color: rgba(255,255,255,0.9);
    width: 80%;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    border-radius: 0 0 5px 5px;
}


#controls {
    width: 100%;
	max-width: 1140px;
    height: 150px;
    text-align: center;
	box-shadow: 0 0 20px;
    position: absolute;
    bottom: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ddc7ad+0,dba76b+100 */
background: rgb(221,199,173); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(221,199,173,1) 0%, rgba(219,167,107,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(221,199,173,1) 0%,rgba(219,167,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(221,199,173,1) 0%,rgba(219,167,107,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddc7ad', endColorstr='#dba76b',GradientType=0 ); /* IE6-9 */


}

#player-health {
	display: inline-block;
    width: 100%;
    margin-top: 20px;
    font-family: 'Almendra', sans-serif;
    color: #000;
    font-size: 22px;
}

#p-health {
	color: red;
	font-size: 30px;
}

#center-alert {
	font-family: 'Almendra', serif;
    font-size: 108px;
    color: red;
    text-align: center;
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    text-shadow: 3px 2px darkred;
    display: none;
    z-index: 999;
}


#slice {
	position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 22%;
    width: 15px;
    height: 0;
    background-color: yellow;
    transform: rotate(35deg);
    z-index: 999;
    border-radius: 50%;
    box-shadow: 0 0 10px white;
    transition: height 0.15s;
}


#attack-btn {
	width: 200px;
    background-color: grey;
    text-align: center;
    padding: 10px;
    font-family: 'Almendra', sans-serif;
    color: #fff;
    font-size: 22px;
    border-radius: 5px;
    box-shadow: 0 3px 0px #333;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
}


.blob {
    float: left;
    position: absolute;
    width: 100%;
    bottom: 22%;
    max-width: 1140px;
}

figure {
	background-color: darkolivegreen;
}

#burst-8 {
	display: none;
    background: red;
    width: 120px;
    height: 120px;
    position: absolute;
    text-align: center;
    -webkit-transform: rotate(20deg);
       -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
            margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 41%;
    z-index: 999;
}
#burst-8:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 120px;
    width: 120px;
    background: red;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
}

@media screen and (max-width: 480px) {

    .creatures {
        transform: scale(0.7);
    }

    #burst-8 {
       transform: scale(0.7); 
    }

}
